.grid{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.item{
  display: flex;
  align-items: center;
  height: auto;
}

.item > img{
  margin-left: 0;
}

@media all and (min-width: 670px){
  .container{
    width: 100%;
  }
  .grid{
    grid-template-columns: 0.3fr 1fr;
    grid-auto-rows: min-content;
    column-gap: 5px;
  }
}
